
.dc_mm-orange{
	
	background:#a5a5a5;
	position:relative;
	width:100%;
}

.dc_mm-orange  li{
	float:left;
}

.dc_mm-orange li a{
	color:#a5a5a5;
	display:block;
	float:left;
	font-size:15px;
	padding:20px 32px;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	text-transform:uppercase;
	font-family:'Doppio One', sans-serif;
	border-left:2px groove #a5a5a5;
}
.dc_mm-orange li a:hover{
	
	background:#a5a5a5;
}

